.box1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);
  border-radius: 0.25rem;
}
.imageHolder {
  /* margin-left: auto; */
  width: 12rem;
}
.imageHolder img {
  width: 100%;
  height: 100%;
}

.bookDescription {
  box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);
  padding: 1rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 0.25rem;
}
