.landingpage-parent {
  min-height: 100vh;
  background-color: aliceblue;
}

.logo {
  width: 100%;
}

.logo-holder {
  width: 100vw;
}

.login-button {
  padding: 1rem;
  border: 1px solid rgb(169, 202, 239);
  background-color: rgb(235, 244, 254);
  width: 30rem;
  font-size: large;
}

.login-button:hover {
  background-color: rgb(247, 247, 247);
  color: red;
}

/* .login-holder {
  width: 50vw;
} */

@media (min-width: 40em) {
  .logo {
    width: 100%;
  }

  .logo-holder {
    width: 50vw;
  }

  .login-holder {
    width: 50vw;
    margin-top: 20vh;
  }

  .landingpage-parent {
    display: flex;
    min-height: 100vh;
    background-color: aliceblue;
    /* justify-content: space-around; */
    /* flex-basis: 0; */
    flex-wrap: wrap;
  }
}
